<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About</h2>
<div class="summary">
<p>
   I am a PhD candidate at MIT <a href="http://csail.mit.edu">CSAIL</a>. I work with <a href="http://people.csail.mit.edu/julie_a_shah/Welcome.html">Prof. Julie Shah</a> in the <a href="http://interactive.mit.edu">Interactive Robotics Group</a>. My research interests include <b>reinforcement learning</b>, <b>interactive machine learning</b>, and <b>human-robot interaction</b>. My aim is to develop general intelligence AI systems that can adapt and interact with people. This involves developing more interpretable and interactive learning algorithms that can provide explanations for its decisions and incorporate human feedback in various forms.
</p>
<p>
   I received my M.S. at MIT in 2015. My work involved developing human-robot team training procedures. Prior to MIT, I received my B.S. in Computer Science from <a href="http://www.gatech.edu">Georgia Tech</a>.
 </p>
</div><!--//summary-->
</section><!--//section-->