<div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Ph.D. in Computer Science</h4>
    <h5 class="meta">Massachusetts Institute of Technology</h5>
    <div class="time">2015 - 2019</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">M.S. in Computer Science</h4>
    <h5 class="meta">Massachusetts Institute of Technology</h5>
    <div class="time">2013 - 2015</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">B.S. in Computer Science</h4>
    <h5 class="meta">Georgia Institute of Technology</h5>
    <div class="time">2010 - 2013</div>
</div><!--//item-->
</div><!--//education-container-->