<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>
                <div class="item">
                    <span class="research-title">Journal and Conference Papers</span> 
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><span class="project-tagline"><b>R. Ramakrishnan</b>, C. Zhang, and J. Shah. Perturbation Training for Human-Robot Teams. <i>Journal of Artificial Intelligence Research (JAIR)</i>. 2016. Under review.</span> 
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><span class="project-tagline">S. Nikolaidis, <b>R. Ramakrishnan</b>, K. Gu, and J. Shah. Efficient Model Learning from Joint-Action Demonstrations for Human-Robot Collaborative Tasks. <i>Proceedings of the 10th ACM/IEEE International Conference on Human-Robot Interaction (HRI)</i>. 2015.
                    <span style="color:#DC143C;">[Best Paper Award - Enabling Technologies]</span></span> 
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><span class="project-tagline">S. Nikolaidis, P. Lasota, <b>R. Ramakrishnan</b>, and J. Shah. Improved Human-Robot Team Performance through Cross-Training, A Human Team Training Approach. <i>International Journal of Robotics Research (IJRR)</i>. 2015.</span> 
                </div><!--//item-->
                <br>
                <div class="item">
                    <span class="research-title">Workshop and Symposium Papers</span> 
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><span class="project-tagline"><b>R. Ramakrishnan</b>, K. Narasimhan, J. Shah. Interpretable Transfer for Reinforcement Learning based on Object Similarities. <i>IJCAI: Interactive Machine Learning Workshop</i>. 2016.</span> 
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><span class="project-tagline"><b>R. Ramakrishnan</b>, J. Shah. Towards Interpretable Explanations for Transfer Learning in Sequential Tasks. <i>AAAI Symposium: Intelligent Systems for Supporting Distributed Human Teamwork</i>. 2016.</span> 
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><span class="project-tagline">A. Nybakke*, <b>R. Ramakrishnan*</b>, V. Interrante. From virtual to actual mobility: Assessing the benefits of active locomotion through an immersive virtual environment using a motorized wheelchair. <i>IEEE Symposium on 3D User Interfaces (3DUI)</i>. 2012.</span> 
                </div><!--//item-->
                
            </section><!--//section-->