<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>
                <div class="item">
                    <span class="research-title"><b>Journal and Conference Papers</b></span> 
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><span class="project-tagline">
                    <a href="https://dspace.mit.edu/bitstream/handle/1721.1/99845/927412516-MIT.pdf?sequence=1" target="_blank">Perturbation Training for Human-Robot Teams</a> <br>
                    <b>Ramya Ramakrishnan</b>, Chongjie Zhang, Julie Shah <br>
                    <i>Under Review in Journal of Artificial Intelligence Research (JAIR)</i> 2017</span> 
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><span class="project-tagline">
                    <a href="http://www.ri.cmu.edu/pub_files/2015/3/p189-nikolaidis1.pdf" target="_blank">Efficient Model Learning from Joint-Action Demonstrations for Human-Robot Collaborative Tasks</a><br>
                    Stefanos Nikolaidis, <b>Ramya Ramakrishnan</b>, Keren Gu, Julie Shah<br>
                    <i>Human-Robot Interaction (HRI) </i>2015<br>
                    <span style="color:#DC143C;">[Best Paper Award - Enabling Technologies]</span></span> 
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><span class="project-tagline"><a href="https://pdfs.semanticscholar.org/cdd1/fdb136acc7a1e61fef2c4d3cf6790a13daec.pdf" target="_blank">Improved Human-Robot Team Performance through Cross-Training, A Human Team Training Approach</a><br>
                    Stefanos Nikolaidis, Pem Lasota, <b>Ramya Ramakrishnan</b>, Julie Shah<br>
                    <i>International Journal of Robotics Research (IJRR)</i> 2015</span> 
                </div><!--//item-->
                <br>
                <div class="item">
                    <span class="research-title"><b>Workshop and Symposium Papers</b></span> 
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><span class="project-tagline"><a href="https://a3eb7066-a-62cb3a1a-s-sites.googlegroups.com/site/ijcai2016iml/IJCAI2016-IML_paper_9.pdf?attachauth=ANoY7cry_ccDWKE8NdeUq1qqzNKUbXfLYyO5B0p-5VoIvcB9pOskgQgLZeZpDXnBhPJYiroxb7CDO4nzDXvXqYDSdmL-sWlVbDuCEYUKZlOWXNOfGAV0nDX6geHL79o9ZmBgKTs7IvChFmAEvYZJVVr7uP6PBVhUv75Li2EP2w50xhoCR6wkzCWDPuSnbR6QUVTytk9uH2-Ea6_RUndJEWeov4VOrXtyviXIapWxloe-9lJi5sg8A-Q%3D&attredirects=0" target="_blank">Interpretable Transfer for Reinforcement Learning based on Object Similarities</a><br>
                    <b>Ramya Ramakrishnan</b>, Karthik Narasimhan, Julie Shah<br>
                    <i>IJCAI: Interactive Machine Learning Workshop</i> 2016</span> 
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><span class="project-tagline"><a href="http://www.aaai.org/ocs/index.php/SSS/SSS16/paper/viewFile/12757/11967" target="_blank">Towards Interpretable Explanations for Transfer Learning in Sequential Tasks</a><br>
                    <b>Ramya Ramakrishnan</b>, Julie Shah<br>
                    <i>AAAI Symposium: Intelligent Systems for Supporting Distributed Human Teamwork</i> 2016</span> 
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><span class="project-tagline"><a href="https://pdfs.semanticscholar.org/f351/b002fa7eac22663954dbccb240d7bcd4b535.pdf" target="_blank">From virtual to actual mobility: Assessing the benefits of active locomotion through an immersive virtual environment using a motorized wheelchair</a><br>
                    Amelia Nybakke*, <b>Ramya Ramakrishnan*</b>, Victoria Interrante<br>
                    <i>IEEE Symposium on 3D User Interfaces (3DUI)</i> 2012</span> 
                </div><!--//item-->
                
            </section><!--//section-->